.content {
  padding-top: 70px;
}

.navbar {
  height: 70px;
  background-color: indigo;
}

.navbar h2 {
  line-height: 70px;
  margin: 0;
  color: white;
}

.navbar .vertical-center {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
