.form-group .required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
    font-family: 'Glyphicons Halflings';
    font-weight: normal;
    font-size: 14px;
}

.form-control {
  min-width: 50px;
  margin-bottom: 2px;
}

.control-label,
.control-input {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-undef {
  width: initial;
}

:host {
  position: relative;
}

.form-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: indigo;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.form-overlay-show {
  opacity: 1;
  visibility: visible;
}

.form-overlay-icon {
  color: white;
  font-size: 72px;
  flex-grow: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.form-overlay-icon:before {
  margin-left: auto;
  margin-right: auto;
}

.form-overlay-values {
  font-size: 20px;
  flex-grow: 3;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-overlay-values td {
  padding-right: 20px;
  text-align: left;
}
