<!--

  Geschichte erzählen
  Rahmen erstellen
  Titel erstellen
  Formular einfügen (AN ALLE: BITTE MITHELFEN :) - Felder, Pflichtfelder, Typen, Breiten, Validierung
  Yeah, I'm responsive!
  Aktionen einfügen
   - Toolbar
   - Actionbar
  Schick ab die Form!
  Ein UXler merkt an: "Dieser Button gehört woanders hin!"
  DO IT YOURSELF: Die JBFOne WebComponent!

x Komponenten: y-frame (h2, y-actions, y-form)
  y-actions (toolbar?, actions="Name:id") (id: print, backward, remove, cance, save)
  y-form (title, fields="*Name:type:x/y:valid/ators_") (type: text, number, date, email, color)

-->
